/* Write your CSS here */
.prime-deco {
  height: 300px;
  width: 100vw;
}
.movies-div-deco {
  background-color: black;
  height: 130%;
  margin: 0px;
  padding: 30px;
}
.head-name {
  color: white;
}
.deco {
  background-color: black;
  padding-bottom: 20px;
}
